<!DOCTYPE html>
<html>
<head th:replace="_fragments/adminlte :: head">
</head>
<body class="hold-transition skin-blue layout-top-nav">

	<!-- Site wrapper -->
	<div class="wrapper">

  		<!-- Header -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">
				<h3>No Access</h3>

				<p>You ID is not set up to use Springcaf-POC. Please contact Springcaf-POC Support team for help.</p>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="_fragments/adminlte :: footer"></div>

	</div>
	<!-- ./wrapper -->
	
<section th:replace="_fragments/adminlte :: scripts"></section>
	
</body>
</html>