textarea {
  resize: none;
}

.btn-signout {
  color: #777;
  text-decoration: none;
}

.btn-signout:hover {
  color: #555;
  background-color: #e7e7e7;
  text-decoration: none;
}

.login-page-style {
  background: #80b5d3;
}

.wlf-table-header th
{
	background: #e6e6e6;
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #babdb6;
}
.wlf-tr-border-bottom td
{
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #babdb6;
}
.wlf-td-border-left
{
	border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #babdb6;
}

.content-header > h2 {
  margin: 0;
  font-size: 20px;
}
.content-header > h2 > small {
  font-size: 14px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.td-preserve-format
{
	white-space: pre-wrap;
}

.th-spacer
{
	min-width: 30px;
}

.text-dark-gray {
  color: #A2A4Aa !important;
}

.text-status-light {
  color: #b4d48a; 
}

ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
} 
ul.tree ul {
    margin-left: 10px;
}
ul.tree li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    xcolor: #369;
    xfont-weight: bold;
    border-left:1px solid rgb(100,100,100);

}
ul.tree li:last-child {
      border-left:none;
}
ul.tree li:before {
     position:relative;
     top:-0.3em;
     height:1em;
     width:12px;
     color:white;
     border-bottom:1px solid rgb(100,100,100);
     content:"";
     display:inline-block;
     left:-7px;
}
ul.tree li:last-child:before {
     border-left:1px solid rgb(100,100,100);   
}

.jobs-list th
{
	background: #f0f0f0;
}

.job-filter
{
	width:90px;
}

.bg-highlighter
{
	background-color: #faf7bc!important;
}

.info-box-icon-mod {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 3px;
  text-align: center;
  font-size: 12px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}

.info-box-content-mod {
  padding: 5px 10px;
  margin-left: 30px;
}
